.cards-grid{
  display: grid;
  margin: auto;

  gap: 20px;
  justify-content: center;
  max-width: 950px;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
%margin-bottom { margin-bottom: 1em; }
.card{
  position: relative;
  z-index: var(--z-normal);
  background:white;
  @extend %margin-bottom;
  border-radius: .5em;
  overflow: hidden;
  box-shadow: rgba(black, .2) 0 .1em .6em;
  text-align: start;
  &__title{
      // text-align: end;
      margin: .4em 0 0;
  }
  &__content{
      padding: 1em;
  }
  &__description{
      // text-align: justify;
      margin-bottom: 1em;
      padding-bottom: .6em;
      border-bottom: 1px solid var(--border-color);
  }
  &__subtitle{
      color: gray;
      font-size: .9em;
      margin-bottom: .8rem;
  }
}
.card__footer{
  text-align: center;
  &-text{
      margin-bottom: .8em;
  }
  @include from(500px){
      display: flex;
      display: flex;
      justify-content: space-around;
      align-items: center;
      &-text{
          margin-bottom: 0;
      }
  }
}
