.main-header{
  position: fixed;
  z-index: var(--z-fixed);
  top: 0;
  width: 100%;
  height: var(--header-width);
  border-bottom: 1px solid var(--border-color);
  background:white;
  &__block{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  @include from(medium){
      :root{
          --header-width : calc(var(--header-width) + 1rem);
      }
  }
}
.main-logo{
  height: calc( var(--header-width) / 2 );
}
