.main-menu__nav{
  position: fixed;
  top: var(--header-width);
  right: -100vw;
  bottom: 0;
  width: 70vw;
  background: var(--text-color);
  z-index: var(--z-tooltip);
  transition: right .3s;
  @include from(medium) {
      position: initial;
      background-color: initial;
      width: auto;
      height: auto;
  }
}
.main-menu__ul{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1em;
  padding-left: 1em;
  @include from(medium) {
      display: flex;
      padding-top: 0;
      padding-left: 0;
  }
}
.main-menu{
  &__item {
      @include from(medium) {
          &:not(:last-child) { margin-right: 1em; }
      }
  }
  &__item:not(:last-child) {
      margin-bottom: 1em;
      @include from(medium) { margin-bottom: 0; }
  }
  &__link {
      display: block;
      color: #fff;
      transition: all .3s;
      &:hover { color: var(--accent-color); }
      @include from(medium) {
          color: var(--text-color);
          &:hover {
              text-shadow: rgba(#000, .3) 0 .05em .15em;
          }
      }
  }
}
