.talk {
  display : flex;
  position : relative;

  // perfil de speakers
  &--speaker-profile {
    display : block;

    .talk__speaker {
      width : 100%;
    }
  }

  @include to(large) {
    flex-wrap: wrap;
  }

  &__speaker {
    flex: none;
    width: 30%;
    margin-right : 1rem;
  }

  &__info {
    width: calc(70% - 1rem);
  }

  p {
    margin-bottom : 0;
  }
}

