.topbar {
  background : #282D31;
  color: #fff;
  padding: 1rem 0;
  margin-top: 4rem;
  @include from(large){
    font-size: 1rem;
  }
}
.countdown{
  text-align: center;
  a {
    color: #fff;
  }
}
