.user {
  display: flex;
  align-items: center;
  justify-content: center;

  &__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    flex: none;
  }

  &__data {
    margin-left: 1rem;
  }

  &__name {
    font-weight: 700;
  }

  &__country {
    display: flex;
    align-items: center;
  }

  &__flag {
    width: 1.5rem;
    height: 1rem;
    margin-right: .5rem;
  }
}


.home-users {
  .user {
    position : relative;
    @include from(large){
      margin-bottom : 2rem;
    }

    @include to(large) {
      width : 80%;
      margin : 0 auto 1rem;
    }

    @include from(large) {
      + .user {
        &::after {
          content: "";
          display : block;
          width: 1px;
          background : var(--text-color);
          height : 1.6rem;
          bottom: calc(100px + 0.2rem);
          left: 50px;
          position : absolute;
        }
      }
    }
  }
}

// Perfil en página de expositores
.user--profile {
  align-items: flex-start;

  p {
    margin-top : .5rem ;
    line-height : 1.6;
  }

  .user__country {
    margin-top : .25rem;
  }

  .user__flag {
    margin-top : 0 ;
    margin-right : .25rem ;
  }
}


.talk .user {
  margin-bottom : 0;

  @include to(large) {
    display : block;
    text-align : center;

    .user__avatar {
      width : 60px;
      height : 60px;
      display : block;
    }

    .user__data {
      margin-left : 0;
      line-height : 1.3;
    }

    .user__country {
      display : flex;
      justify-content: center;
      font-size: 0;

      img {
        margin : .5rem 0 0;
      }
    }
    .user__avatar {
      margin : auto;
    }
  }
}

.users-grid{
  margin: auto;
  margin-top: 1.5em;
  @include from(medium){

    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2,1fr);
  }

}
