*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
img {
    display: block;
    // width: 100%;
    max-width: 100%;
    height: auto;
}

ul,li,a{
    text-decoration: none;
    list-style: none;
}
body {
  font-size: var(--body-font-size);
  color: var(--text-color);
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
a {
  color: var(--text-color);
}
h1 { font-size: var(--h1-font-size); }
h2 { font-size: var(--h2-font-size); }
h3 { font-size: var(--h3-font-size); }

@mixin body-font {
  font-family:'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
@mixin small {
  @include body-font;
  font-size: var(--small-font-size);
}
// Código en línea
:not(pre) code {
  @include small;
  font-family : Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  background  : #F6F6F6;
  border      : 1px solid #EEEEF3;
  color: #FF3C32;
  padding     : 0 .25em;
  margin      : 0 .1em;
  word-break  : break-all;
}
