extends ../../config/template.pug
append config
  - global.pageTitle = 'Taller de emprendedores'
  - global.pageDescription = 'Pagina inicial de EDboilerplate'
  - global.pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'

block main
  +banner('dark','banner-jon.jpg','Aprende a emprender', 'La idea es menos del 1% de un proyecto exitoso')
  .l-container.m-70.l-40
    <a class="twitter-timeline" href="https://twitter.com/MaurickThom/timelines/1266147371794288642?ref_src=twsrc%5Etfw">collection d - Curated tweets by MaurickThom</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  .l-container.center-block
    #facebook-comments
