extends ../config/template.pug
append config
  - global.pageTitle = 'Home'
  - global.pageDescription = 'Pagina inicial de EDboilerplate'
  - global.pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'

block main
  +banner('dark','banner-edcamp.jpg','Tecnología, networking y emprendimiento en Lima', 'EDcamp Lima 2018 el 31 de agosto y 1ro de setiembre')
  main.main
    section.l-section.l-container
        p.m-50.center-block Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt voluptas earum fugiat illum cumque soluta similique laboriosam velit veniam, ipsa vitae culpa aliquid ut porro quia temporibus maxime. Doloremque, perferendis.
    section.l-section.l-container
      .m-65.center-block
        h2 Ultimas noticas
        p(style="margin-top:1rem") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
    section.l-section
      .l-container
          h2.center-block.event Eventos
          .center-block.cards-grid
              +card(
                  {
                      image: 'https://richirrim.github.io/clone-edcamp/images/tde.jpg',
                      alt:'Poster taller de emprededores'
                  },
                  {
                      title: 'Taller de emprendedores',
                      subtitle: 'Viernes 31 de agosto (2pm - 8pm)',
                      description: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus dicta tenetur assumenda cupiditate, repellat dolores? Consectetur sed voluptas praesentium.'
                  }
              )
              +card(
                  {
                      image: 'https://richirrim.github.io/clone-edcamp/images/workshops.jpg',
                      alt:'Poster taller de Workshops'
                  },
                  {
                      title: 'Workshops',
                      subtitle: 'sabado 32 de agosto (2pm - 8pm)',
                      description: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus dicta tenetur assumenda cupiditate, repellat dolores? Consectetur sed voluptas praesentium.'
                  }
              )
    section.l-section
      .l-container
        .m-65.center-block
          h2 Expositores
          .users-grid
            div.home-users
              +user('Alexys Lozada','alexys.jpg','co', 'Colombia')
              +user('Beto Quiroga','beto.jpg','bo', 'Bolivia')
              +user('Jon MirCha','mircha.jpg','mx', 'México')
            div.home-users
              +user('Manu Rodriguez','manu.jpg','pe', 'Perú')
              +user('Freddy Cahuas','freddy.jpg','pe', 'Perú')
              +user('Álvaro Felipe','alvaro.jpg','pe', 'Perú')
