block config
  include variables
  include ../includes/mixins/banner-mixin
  include ../includes/mixins/user-mixin
  include ../includes/mixins/user-profile-mixin
  include ../includes/mixins/inscription-card-mixin
  include ../includes/mixins/card-mixin
doctype html
html(lang="es")
  head
    title= global.pageTitle + " - " + global.siteName
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content=global.twitterAccount)
    meta(property="og:title" content=global.pageTitle)
    meta(property="og:description" content=global.pageDescription)
    meta(property="og:image" content=global.pageImage)
    link(rel="shortcut icon" href="/img/EDteam-favicon.png")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:700")

    meta(name="theme-color" content="#fafdff")
    //- Configuración para dispositivos IOS
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(name="format-detection" content="telephone=no")
    meta(name="apple-mobile-web-app-title" content="ED")
    //- Meta tags para windows
    meta(name="msapplication-TileColor" content="#F7DF1E")
  body
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v7.0"></script>
    include ../includes/blocks/header
    include ../includes/blocks/topbar
    block main
    include ../includes/blocks/footer
