.l-container{
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@for $i from 1 through 20 {
  .s-#{$i * 5}{
      width: #{$i * 5%};
  }
}

@include from(medium){
  @for $i from 1 through 20 {
      .m-#{$i * 5}{
          width: #{$i * 5%};
      }
  }

}
.center-block{
  text-align: center;
  margin: auto;
  &.event{
      margin-bottom: 1rem;
  }
}
.l-section {
  margin-bottom: 2rem;
  @include from(medium) {
      margin-bottom: 4rem;
  }

}


@include from(large){
  @for $i from 1 through 20 {
    .l-#{$i * 5}{
        width: #{$i * 5%};
    }
  }
}
