mixin banner(color,image,title,subtitle)
  .main-banner(class="main-banner--"+color)
      img.main-banner__hero-image(src="/img/"+image alt="Soy el banner")
      .main-banner__content.l-container
          img(class="main-banner__logo" src="/img/edcamp-logo.svg" alt="EDcamp logo")
          h1.main-banner__title=title
          p.main-banner__description=subtitle

