mixin card(imageObject,contentObject)
    .card
        img(src=`${imageObject.image}`, alt=`${imageObject.alt}`).card__img
        .card__content
            h3.card__title= `${contentObject.title}`
            .card__subtitle= `${contentObject.subtitle}`
            .card__description= `${contentObject.description}`
            .card__footer
                .card__footer-text Museo de historia natural
                a(href="#").button Mas informacion
