mixin user(name,avatar,countryCode, country)
  .user
    .user__avatar
      img(src=`/img/${avatar}`)
    .user__data
      .user__name=name
      .user__country
        img(src=`/img/icon-flag-${countryCode}.svg`).user__flag
        =country
