extends ../../config/template.pug
append config
  - global.pageTitle = 'Expositores'
  - global.pageDescription = 'Pagina inicial de EDboilerplate'
  - global.pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'

block main
  +banner('dark','banner-expositores.jpg','Expositores', 'El staff de EDteam completo por primera vez en Lima')
  .l-container
    div.home-users
      include ../../includes/blocks/expositores
