extends ../../config/template.pug
append config
  - global.pageTitle = 'Workshops'
  - global.pageDescription = 'Pagina inicial de EDboilerplate'
  - global.pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'

block main
  //- :markdown-it
  :markdown-it(html)
    Puede usar varios botones junto
    ```markup
      <a class="button">Soy un boton </a>
    ```

    ```html
      <a class="button">Soy un boton </a>
    ```

    ## `Botones`

    ```pug
      a(href="") Soy un botton
    ```

    <button>Soy un boton</button>

    https://github.com/escueladigital/EDteam-StyleGuides/commit/6c4a3b0c02e9f443442469c132caeaf111e2fec4
