header.main-header
  .main-header__block.l-container
      img(src="https://raw.githubusercontent.com/richirrim/clone-edcamp/38c29f8aef339a482bd1ce8582169eea43d1f65b/dev/images/logo.svg", alt="").main-logo
      .icon-menu#icon-menu: .icon-menu__bar
      include ./main-menu
