@mixin from($breakPoint) {
  @if map-has-key($breakPoints, $breakPoint) {
      @media screen and (min-width: map_get($breakPoints, $breakPoint)) {
          @content;
      }
  } @else {
      @media screen and (min-width: $breakPoint) {
          @content;
      }
  }
}

@mixin to($breakPoint) {
  @if map-has-key($breakPoints, $breakPoint) {
      @media screen and (max-width: map_get($breakPoints, $breakPoint)) {
          @content;
      }
  } @else {
      @media screen and (max-width: $breakPoint) {
          @content;
      }
  }
}
